footer {
  background-color: $color-5;
  position: relative;
  height: 60px;
  padding-top: 35px;
}

footer a {
  height: 20px;
  font-family: $body-font;
  color: $color-1;
  font-size: 1.2em;
  text-decoration: none;
  padding: 4px;
  background-color: $color-6;
  margin-left: 20px;
  border-radius: 5px;
}

footer a:hover {
  color: $color-6;
  background-color: $color-1;
}

@media only screen and (min-width: 950px) {

footer {
   top: 2350px;
   padding-top: 50px;
   height: 70px;
   text-align: center;
   position: relative;
   width: 100vw;

}

footer a {
  height: 70px;
  font-family: $body-font;
  color: $color-1;
  font-size: 1.2em;
  text-decoration: none;
  padding: 10px;
  background-color: $color-6;
  margin-left: 20px;
  border-radius: 5px;
}

footer a:hover {
  color: $color-6;
  background-color: $color-1;
}
}