header {
  position: absolute;
  top: 0;
  text-align: center;
  height: 300px;
  width: 100%;
}

h1 {
  color: $color-1;
  font-family: $header-font;
  font-size: 3.5em;
  background-image: url("images/paintbrush.png");
  height: 100%;
  background-size: 450px;
  background-repeat: no-repeat;
  background-position: 50% 30%;
}

h2 {
 font-family: $body-font;
 color: $color-5;
 font-weight: bold;
 font-size: 1.7em;
 position: relative;
 top: -73%;
 left: 50%;
 transform: translate(-50%, 0);
}

h2 abbr {
  font-family: $header-font;
}

h3 {
  font-family: $header-font;
  font-size: $header-size;
}

.summary {
  font-size: $body-font-size;
  position: absolute;
  text-align: center;
  top: 200px;
  height: 150px;
  width: 95%;
}

.summary p {
  font-size: .9em;
  font-family: $body-font;
  color: $color-4;
  margin-right: 50px;
  margin-left: 50px;
}

.summary a {
  color: $alert;
}

.summary a:hover {
  color: $color-5;
}

@media only screen and (min-width: 950px) {

  h1 {
      font-size: 5.5em;
      background-size: 900px;
      background-position: center;
  }

  h2 {
      font-size: 2.5em;
      top: -57%;
  }

  .summary {
      margin-top: 40px;
      top: 290px;
  }

  .summary p {
      font-size: 1rem;
      margin-left: 0;
      margin-right: 0;
  }

}
