// color palette - these colors will be the color swatches of the Colors section

$color-1: #f4108c; // Bright Pink
$color-2: #a50e68; // Dark Pink
$color-3: #00bfb2; // Light Blue
$color-4: #103942; // Dark Teal
$color-5: #028090; // Medium Teal
$color-6: #ffffff; //white

// fonts

$header-font: Montez, cursive;
$body-font: Raleway, sans-serif;
$header-size: 40px;
$body-font-size: 16px;

// additional colors

$success: $color-2;
$alert: $color-1;


