// color palette - these colors will be the color swatches of the Colors section

$color-1: #f4108c; // Bright Pink
$color-2: #a50e68; // Dark Pink
$color-3: #00bfb2; // Light Blue
$color-4: #1a5e63; // Dark Teal
$color-5: #028090; // Medium Teal
$color-6: #ffffff; //white

// fonts

$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Montez', cursive;

// additional colors

$success: $color-2;
$alert: $color-1;


