@import url("https://fonts.googleapis.com/css2?family=Montez&family=Raleway:wght@600&display=swap");
@import "partials/variables";
@import "partials/header";
@import "partials/footer";


body {
    font-family: $body-font;
    font-size: $body-font-size;
    background: $body-color;
    max-width: 100vw;
}

.preamble,
.supporting {
  position: relative;
  width: 370px;
  top: 300px;
  margin: 0 auto;
}

.preamble  {
    left: 0;
    background-image: url("/images/IMG_0089.png");
    background-size: 300px 580px;
    height: 100%;
    background-repeat: no-repeat;
    padding: 10px;
    max-width: 80%;
}


.explanation {
    position: relative;
    margin-top: 50px;
    height: auto;
    background-image: url("/images/IMG_0090.png");
    background-size: 350px 480px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.participation {
    position: relative;
    margin-top: 50px;
    height: auto;
    background-image: url("/images/IMG_0093.png");
    background-size: 340px 550px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.participation a {
  color: $color-1;
}

.benefits {
    position: relative;
    left: 0;
    margin-top: 50px;
    height: 300px;
    background-image: url("/images/img_0082.png");
    background-size: 400px 300px;
    background-repeat: no-repeat;


}

.requirements {
    position: relative;
    left: 10px;
    margin-top: 50px;
    background-image: url("/images/IMG_0093.png");
    background-size: 400px 700px;
    background-repeat: no-repeat;

}

.requirements a {
  color: $color-1;
}

.sidebar {
  display: flex;
  justify-content: space-around;
  background-image: url("images/easel.png");
  background-size: cover;
  overflow: hidden;
  position: relative;
  text-align: center;
  top: 300px;
  left: -80px;
  width: 900px;
  height: 700px;
  font-size: 14px;
  margin-top: 40px;
  margin-left: -40px;
  transition: margin-left 2s;
}

.sidebar h3 {
  font-size: 38px;
  margin: 0;
}

.sidebar ul {
  list-style-type: none;
  padding-left: 0;
}

.sidebar ul li a {
  text-decoration: none;
  color:$color-2;
}

.sidebar ul li a:hover {
  color: $color-5;
}

.design-selection {
  top: 25%;
  left: -30%;
  position: relative;
  transform: perspective(400px) rotateX(4deg) rotateY(-10deg) rotateZ(6deg) skewX(-2deg) skewY(-2deg);
  margin-bottom: 1rem;
}

.design-archives {
  top: 25%;
  left: -40%;
  position: relative;
  transform: perspective(400px) rotateX(4deg) rotateY(-10deg) rotateZ(8deg) skewX(-2deg) skewY(-2deg);
  margin-bottom: 1rem;
}

.zen-resources {
  top: 25%;
  left: -50%;
  position: relative;
  transform: perspective(400px) rotateX(4deg) rotateY(-10deg) rotateZ(10deg) skewX(-2deg);
}

@media only screen and (min-width: 600px) {
  .sidebar {
    margin-left: 10rem;
    transition: margin-left 2s;
  }
}
@media only screen and (min-width: 950px) {

    .preamble,
    .supporting {
        margin-top: 100px;
        position: absolute;
        width: 470px;
        top: 300px;
    }

    .preamble {
        left: 200px;
        background-size: 350px 450px;
    }

    .explanation {
        position: absolute;
        width: 470px;
        left: 25%;
        top: 400px;
        background-size: 350px 430px;
    }

    .participation {
        position: absolute;
        width: 470px;
        top: 800px;
        left: 100%;
    }

    .benefits {
        position: absolute;
        width: 470px;
        left: 50%;
        top: 1300px;
    }

    .requirements {
        position: absolute;
        width: 470px;
        left: 160%;
        top: 1600px;
    }

    .sidebar {
        display: flex;
        position: relative;
        float: right;
        width: 500px;
        left: 0;
        right: 0;
        height: 1200px;
        transition: width 2s;
        top: 350px;

        .design-selection,
        .design-archives,
        .zen-resources {
            top: 14%;
        }

        .design-selection {
            left: 38%;
            transform: perspective(400px) rotateX(4deg) rotateY(-10deg) rotateZ(4deg) skewX(-2deg) skewY(-2deg);
            transition: left 2s;
        }

        .design-archives {
            left: 29%;
            transform: perspective(400px) rotateX(4deg) rotateY(-10deg) rotateZ(6deg) skewX(-2deg) skewY(-2deg);
            transition: left 2s;
        }

        .zen-resources {
            left: 22%;
            transform: perspective(400px) rotateX(4deg) rotateY(-10deg) rotateZ(8deg) skewX(-2deg);
            transition: left 2s;
        }
    }
}
@media only screen and (min-width: 1200px) {
  .sidebar {
    width: 620px;
    transition: width 2s;
  }

  .sidebar .design-selection {
    left: 25%;
    transition: left 2s;
  }

  .sidebar .design-archives {
    left: 16%;
    transition: left 2s;
  }

  .sidebar .zen-resources {
    left: 9%;
    transition: left 2s;
  }
}