// Importing fonts
@import url('https://fonts.googleapis.com/css2?family=Montez&family=Raleway:wght@600&display=swap');

@import "partials/variables";

body {
    font-family: $body-font;
    font-size: $body-font-size;
    margin: 0;
    background: $body-color;
}

header {
    position: absolute;
    top: 0;
    text-align: center;
    height: 300px;
    width: 100%;
}

h1 {
    color: $color-1;
    font-family: $header-font;
    font-size: 3.5em;
}

h2 {
   font-family: $body-font;
   color: $color-5;
   font-weight: bold;
   font-size: 1.7em;
}

h2 abbr {
    font-family: $header-font;
}

h3 {
    font-family: $header-font;
    font-size: $header-size;
}

.intro h2 {
    background-image: url("images/background-2543430_1920.jpg");
    max-width: 100%;
    background-size: cover;
    margin-top: -40px;
    height: 45px;
    padding-top: 6px;
}

.summary {
    font-size: $body-font-size;
    position: absolute;
    text-align: center;
    top: 165px;
    height: 150px;
    width: 95%;
}

.summary p {
    font-size: .9em;
    font-family: $body-font;
    color: $color-4;
    margin-right: 50px;
    margin-left: 50px;
}

.summary a {
    color: $alert;
}

.preamble,
.supporting {
    position: relative;
    width: 370px;
    top: 300px;
    margin: 0 auto;
}

.preamble {
    left: 0;
}

.explanation {
    position: relative;
    left: 10%;
}

.participation {
    position: relative;
    left: 0;
}

.benefits {
    position: relative;
    left: 10%;
}

.requirements {
    position: relative;
    left: 0;
}

footer {
    text-align: center;
    position: relative;
    width: 100%;
}

.sidebar {
    display: flex;
    justify-content: space-around;
    background-image: url("images/easel.png");
    background-size: cover;
    overflow: hidden;
    position: relative;
    text-align: center;
    top: 300px;
    left: -80px;
    width: 900px;
    height: 700px;
    font-size: 14px;
    margin-top: 40px;
    margin-left: -40px;
    transition: margin-left 2s;

    h3 {
        font-size: 38px;
        margin: 0;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    ul li a {
        text-decoration: none;
        color: $color-2;

        &:hover {
            color: $color-5;
        }
    }
}

.design-selection {
    top: 25%;
    left: -30%;
    position: relative;
    transform: perspective(400px) rotateX(4deg) rotateY(-10deg) rotateZ(6deg) skewX(-2deg) skewY(-2deg);
    margin-bottom: 1rem;
}

.design-archives {
    top: 25%;
    left: -40%;
    position: relative;
    transform: perspective(400px) rotateX(4deg) rotateY(-10deg) rotateZ(8deg) skewX(-2deg) skewY(-2deg);
    margin-bottom: 1rem;
}

.zen-resources {
    top: 25%;
    left: -50%;
    position: relative;
    transform: perspective(400px) rotateX(4deg) rotateY(-10deg) rotateZ(10deg) skewX(-2deg);
}

//adding transition for small screen to medium screen in small viewport for easel
@media only screen and (min-width: 500px) {
    .sidebar {
        margin-left: 10rem;
        transition: margin-left 2s;
    }
}

@media only screen and (min-width: 950px) {

    h1 {
        font-size: 5.5em;
    }

    h2 {
        font-size: 2.5em;
        margin-top: -30px;
        padding-top: 20px;
    }

    .intro h2 {
        height: 65px;
        margin-top: -60px;
    }

    .summary {
        margin-top: 85px;
        top: 200px;
    }

    .summary p {
        font-size: 1rem;
        margin-left: 0;
        margin-right: 0;
    }


    .preamble,
    .supporting {
        margin-top: 80px;
        position: absolute;
        width: 470px;
        top: 300px;
    }

    .preamble {
        left: 200px;
    }

    .explanation {
        position: absolute;
        width: 470px;
        left: 40px;
        top: 400px;
    }

    .participation {
        position: absolute;
        width: 470px;
        top: 800px;
        left: 150px;
    }

    .benefits {
        position: absolute;
        width: 470px;
        left: 450px;
        top: 1300px;
    }

    .requirements {
        position: absolute;
        width: 470px;
        left: 275px;
        top: 1600px;
    }

    footer {
        top: 2350px;
        padding: 20px;
        left: 45%;
    }

    .sidebar {
        display: flex;
        position: relative;
        float: right;
        width: 500px;
        left: 0;
        right: 0;
        height: 1200px;
        transition: width 2s;

        .design-selection, 
        .design-archives, 
        .zen-resources {
            top: 14%;
        }

        .design-selection {
            left: 38%;
            transform: perspective(400px) rotateX(4deg) rotateY(-10deg) rotateZ(4deg) skewX(-2deg) skewY(-2deg);
            transition: left 2s;
        }

        .design-archives {
            left: 29%;
            transform: perspective(400px) rotateX(4deg) rotateY(-10deg) rotateZ(6deg) skewX(-2deg) skewY(-2deg);
            transition: left 2s;
        }

        .zen-resources {
            left: 22%;
            transform: perspective(400px) rotateX(4deg) rotateY(-10deg) rotateZ(8deg) skewX(-2deg);
            transition: left 2s;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .sidebar {
        width: 620px;
        transition: width 2s;

        .design-selection {
            left: 25%;
            transition: left 2s;
        }

        .design-archives {
            left: 16%;
            transition: left 2s;
        }

        .zen-resources {
            left: 9%;
            transition: left 2s;
        }
    }
}