// Importing fonts
@import url('https://fonts.googleapis.com/css2?family=Montez&family=Raleway:wght@600&display=swap');

// Variables
$header-font: Montez, cursive;
$body-font: Raleway, sans-serif;
$header-size: 40px;
$body-font-size: 16px;

body {
    font-family: $body-font;
    font-size: $body-font-size;
}

header {
    position: absolute;
    top: 0;
    text-align: center;
    height: 300px;
    width: 100%;
}

.summary {
    font-size: $body-font-size;
    overflow: hidden;
    position: absolute;
    top: 100px;
    height: 150px; 
    width: 100%;
}

.preamble, 
.supporting {
    position: relative;
    text-align: justify;
    width: 370px;
    top: 220px;
    left: 25%;
}

footer {
    text-align: center;
    position: relative;
    width: 100%;
}

.sidebar {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flexbox;
    flex-direction: column;
    flex-flow: column wrap;
    align-content: space-around;
}

@media only screen and (min-width: 900px) {
    .page-wrapper {
        max-width: 960px;
        margin: 0 auto;
    }

    .sidebar {
        position: absolute;
        right: 10px;
        width: 250px;
    }
}