// Importing fonts
@import url('https://fonts.googleapis.com/css2?family=Montez&family=Raleway:wght@600&display=swap');

// Variables
$header-font: Montez, cursive;
$body-font: Raleway, sans-serif;
$header-size: 40px;
$body-font-size: 16px;

body {
    font-family: $body-font;
    font-size: $body-font-size;
}

header {
    position: absolute;
    top: 0;
    text-align: center;
    height: 300px;
    width: 100%;
}

.summary {
    font-size: $body-font-size;
    overflow: hidden;
    position: absolute;
    top: 100px;
    height: 150px; 
    width: 100%;
}

.preamble, 
.supporting {
    position: relative;
    text-align: justify;
    width: 370px;
    top: 220px;
    left: 25%;
}

footer {
    text-align: center;
    position: relative;
    width: 100%;
}

.sidebar {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

div#design-selection.design-selection {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

div#design-archives.design-archives {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

div#zen-resources.zen-resources {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}