// Importing fonts
@import url('https://fonts.googleapis.com/css2?family=Montez&family=Raleway:wght@600&display=swap');

// Variables
$header-font: Montez, cursive;
$body-font: Raleway, sans-serif;
$header-size: 40px;
$body-font-size: 16px;

body {
    font-family: $body-font;
    font-size: $body-font-size;
}

header {
    position: absolute;
    top: 0;
    text-align: center;
    height: 300px;
    width: 100%;
}

h1, h2, h3 {
    font-family: $header-font;
    font-size: $header-size;
}

.summary {
    font-size: $body-font-size;
    position: absolute;
    text-align: center;
    top: 200px;
    height: 150px;
    width: 95%;
}

.preamble,
.supporting {
    position: relative;
    width: 370px;
    top: 300px;
    margin: 0 auto;
}

.preamble {
    left: 0;
}

.explanation {
    position: relative;
    left: 10%;
}

.participation {
    position: relative;
    left: 0;
}

.benefits {
    position: relative;
    left: 10%;
}

.requirements {
    position: relative;
    left: 0;
}

footer {
    text-align: center;
    position: relative;
    width: 100%;
}

.sidebar {
    position: relative;
    text-align: center;
    top: 300px;
}

@media only screen and (min-width: 950px) {
    .preamble,
    .supporting {
        margin: 0 auto;
        position: absolute;
        width: 470px;
        top: 300px;
    }

    .preamble {
        left: 200px;
    }

    .explanation {
        position: absolute;
        width: 470px;
        left: 40px;
        top: 400px;
    }

    .participation {
        position: absolute;
        width: 470px;
        top: 800px;
        left: 150px;
    }

    .benefits {
        position: absolute;
        width: 470px;
        left: 450px;
        top: 1300px;
    }

    .requirements {
        position: absolute;
        width: 470px;
        left: 275px;
        top: 1600px;
    }

    footer {
        top: 2350px;
        padding: 20px;
        left: 45%;
    }

    .sidebar {
        position: absolute;
        top: 300px;
        right: 50px;
        width: 250px;
    }
}