// Importing fonts
@import url('https://fonts.googleapis.com/css2?family=Montez&family=Raleway:wght@600&display=swap');

// Variables
$header-font: Montez, cursive;
$body-font: Raleway, sans-serif;
$header-size: 40px;
$body-font-size: 16px;

body {
    font-family: $body-font;
    font-size: $body-font-size;
}

header {
    position: absolute;
    top: 0;
    text-align: center;
    height: 300px;
    width: 100%;
}

h1, h2, h3 {
    font-family: $header-font;
    font-size: $header-size;
}

.summary {
    font-size: $body-font-size;
    position: absolute;
    text-align: center;
    top: 200px;
    height: 150px; 
    width: 95%;
}

.preamble, 
.supporting {
    position: relative;
    text-align: justify;
    width: 370px;
    top: 300px;
    margin: 0 auto;
}

footer {
    text-align: center;
    position: relative;
    width: 100%;
}

.sidebar {
    position: relative;
    text-align: center;
    top: 300px;
}

@media only screen and (min-width: 900px) {
    .page-wrapper {
        max-width: 960px;
        margin: 0 auto;
    }

    .sidebar {
        position: absolute;
        top: 300px;
        right: 10px;
        width: 250px;
    }
}